.container{
    margin: 50px ;
    border: 1px solid black;
    width: max-content;
    display: flex;
}


.flex-container{
    margin: 50px 50px;
    border:2px solid black;
    background: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}



.col{
    border: 1px solid black;
    background-color: chartreuse;
    color: purple;
    font-size: 25px;
    width: 70px;
    line-height: 50px;
    margin: 10px;
    text-align: center;
    
}

.grid-cotainer{
    margin: 100px 50px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-col{
    margin: 10px; 
    border: 1px solid black;
    width: 50px;
    text-align: center;
    background:lightcoral;
}


input, textarea {
	display: block;
	margin: 10px;
    transition: all 2s ease-in-out;
}

.submit-button{
    margin-left: 50px;
    color: white;
    background-color:blueviolet ;
    transition: all 2s ease-in-out;
}

.submit-button:hover{
    background-color: black;
}